body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    border: 3px solid black;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 8px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
img{
    width: 35vw;
    height: 30vh;
}