*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    padding: 10px;

}
h1{
    text-align: center;
}
/* #rey{
    color: white;
    background-color: black;
} */
 #reybir{
    margin-top: 40px;    
   
    height: 70vh;
    width: 90vw;
 }
 #esas{
    
 }