*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mcdonalds{
    width: 5vw;
    height: 8vh;
    padding: 10px;
    margin-right: 12px;
    background-color: rgba(245, 245, 245, 0.263);
}